.blog-img{
    width: 223px;
}
.top-player-img{
    width: 50px;
}
@media screen and (max-width: 576px) and (min-width: 380px) {
    .col-xs-6{
        display: flex;
        width: 50%;
    }    
}
@media screen and (max-width: 411px) and (min-width: 286px){
    .col-xs-6{
        display: flex;
        width: 50%;
    }
    .top-player-img{
        width: 50px;
    }
    .top-player-text{
        font-size: 10px;
    }
}
@media screen and (max-width: 285px) and (min-width: 266px){
    .col-xs-6{
        display: flex;
        width: 50%;
    }
    .top-player-img{
        width: 40px;
    }
    .top-player-text{
        font-size: 10px;
    } 
}
@media screen and (max-width: 371px) {
    .blog-img{
        width: 150px;
    }
    .blog-img-text{
        padding: 0 0 0 10px !important;
    }
}
@media screen and (max-width: 275px) {
    .blog-img{
        width: 120px;
    }
    .blog-img-text{
        padding: 0 0 0 10px !important;
    }
    .blog-img-text h5{
        font-size: 13px !important;
    }
    .blog-img-text p{
        font-size: 10px !important;
    }
}
@media screen and (max-width: 407px) and (min-width: 300px){
    .blog-img-text{
        padding: 0 0 0 10px !important;
    }
    .blog-img{
        width: 130px;
    }
    .blog-img-text h5{
        font-size: 18px !important;
    }
    .blog-img-text p{
        font-size: 14px !important;
    }
}
@media screen and (max-width: 1322px) and (min-width: 1200px){
    .card-footer .star{
        width: 6px !important;
    }
    .card-footer .ms-3{
        margin-left: 1px!important;
    }
    .card-footer .time{
        margin-left: 50px !important;
    }
}
@media screen and (max-width: 991px) and (min-width: 769px){
    .card-footer .star{
        width: 6px !important;
    }
    .card-footer span{
        font-size: 10px !important;
    }
    .card-footer .ms-3{
        margin-left: 1px!important;
    }
    .card-footer .time{
        margin-left: 50px !important;

    }
    .card-footer .time span{
        font-size: 10px !important; 
    }
}
@media screen and (max-width: 768px) and (min-width: 577px){
    .card-footer .ms-5{
        margin-left: 50px!important;
    }
    .card-footer .time{
        margin-left: 290px !important;
    }
}
@media screen and (max-width: 576px) and (min-width: 546px){
    .card-footer .ms-5{
        margin-left: 20px!important;
    }
    .card-footer .time{
        margin-left: 300px !important;
    }
}
@media screen and (max-width: 545px) and (min-width: 485px){
    .card-footer .ms-5{
        margin-left: 10px!important;
    }
    .card-footer .time{
        margin-left: 240px !important;
    }
}
@media screen and (max-width: 484px) and (min-width: 415px){
    .card-footer .ms-5{
        margin-left: 10px!important;
    }
    .card-footer .time{
        margin-left: 170px !important;
    }
}
@media screen and (max-width: 410px) and (min-width: 343px){
    .card-footer .ms-5{
        margin-left: 8px!important;
    }
    .card-footer .time{
        margin-left: 120px !important;
    }
    .card-footer .time span{
        font-size: 10px !important; 
    }
    .card-footer span{
        font-size: 10px !important;
    }
}
@media screen and (max-width: 342px) and (min-width: 300px){
    .card-footer .ms-5{
        margin-left: 5px!important;
    }
    .card-footer .time{
        margin-left: 100px !important;
    }
    .card-footer .time span{
        font-size: 8px !important; 
    }
    .card-footer span{
        font-size: 8px !important;
    }
}